{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'courses/css/catalog.css' %}">
{% endblock css %}

{% block title %}- Catalog{% endblock title %}

{% block content %}
<div class='container-fluid container-md content p-5 my-3'>
<h1 class='courses-title'>Наши курсы:</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for course in courses %}
        <a class='course-link' href="{{course.get_absolute_url}}">
            <div class="col">
                <div class="card h-100 card-hover">
                    <img src="{{course.thumbnail.medium.url}}" class="card-img-top course-img" alt="{{course.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{course.title}}</h5>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
</div>

{% endblock content %}